.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    width: 75%;
  }
}

.app-task-list__section {
  display: table;

  @include govuk-font($size: 24, $weight: bold);
}

.app-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");

  list-style: none;
  padding-left: 0;
}

.app-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  overflow: hidden;
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__tag,
.app-task-list__task-completed {
  margin-top: 0;
  margin-bottom: govuk-spacing(1);
  float: right;

  @include govuk-media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include mq-add-breakpoint(smallMobile, 360px);

  @include govuk-media-query($until: smallMobile) {
    font-size: 12px;
  }
}

.app-task-list__task-name {
  max-width: 48%;
  display: block;
  float: left;

  &.app-task-list__task-confirmed {
    max-width: 60%;
  }

  @include govuk-media-query($from: desktop) {
    min-width: 120px;
    max-width: unset;
    float: none;
    display: inline-block;
  }
}

.app-task-list__item-review {
  display: list-item;
}

.app-task-list__description {
  padding-right: 10px;
  padding-left: 10px;

  @include govuk-media-query($from: tablet) {
    padding-left: 120px;
  }
}

.app-task-list__cta {
  margin-bottom: 0;
  margin-top: govuk-spacing(2);
}

@include govuk-media-query($from: tablet) {
  .app-task-list__item-review form {
    float: left;
  }
}
