{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-missing-end-of-source-newline": null,
    "rule-empty-line-before": null,
    "block-opening-brace-newline-after": null,
    "block-opening-brace-space-before": null,
    "no-eol-whitespace": null,
    "at-rule-no-unknown": null
  }
}
