.app-display-mobile {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.app-display-desktop__block {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.app-display-desktop__inline-block {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: inline-block;
  }
}

.hidden {
  display: none !important;
}
