.app-grid-column-one-third--always {
  box-sizing: border-box;
  padding: 0 15px;
  width: 33.333%;
  float: left;
}

.app-grid-column-two-thirds--always {
  box-sizing: border-box;
  padding: 0 15px;
  width: 66.66%;
  float: left;
}
