// setting select widths using GOVUK preset text box widths
.govuk-select {
  &.govuk-input--width-20 {
    width: 38ex + 3ex;
    
    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }

  &.govuk-input--width-10 {
    width: 20ex + 3ex;

    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }

  &.govuk-input--width-5 {
    width: 10.8ex;

    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }

  &.govuk-input--width-4 {
    width: 9ex;

    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }

  &.govuk-input--width-3 {
    width: 7.2ex;

    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }

  &.govuk-input--width-2 {
    width: 5.4ex;

    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }
}
