<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Dfe Wizard Prototype</h1>
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>
